server:
  port: 8000
spring:
  application:
    name: API-GATEWAY-SERVICE
  cloud:
    gateway:
#      default-filters:
#        - name: AddResponseHeader
#          args:
#            name: Access-Control-Allow-Origin
#            value: "*"
#        - name: AddResponseHeader
#          args:
#            name: Access-Control-Allow-Methods
#            value: "GET, POST, PUT, DELETE, OPTIONS"
      routes:
        - id: AUTH-SERVICE
          uri: http://localhost:8001
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1
        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1
        - id: REGISTRATION-SERVICE
          uri: lb://REGISTRATION-SERVICE
          predicates:
            - Path=/registration/**
          filters:
            - StripPrefix=1
        - id: EVALUATION-SERVICE
          uri: lb://EVALUATION-SERVICE
          predicates:
            - Path=/evaluation/**
          filters:
            - StripPrefix=1
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/  # URL cá»§a Eureka Server
    fetch-registry: true
    register-with-eureka: true

# Logging configuration for better debugging
logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.cloud.gateway: DEBUG
    com.dungnguyen.cloudgateway: DEBUG
    reactor.netty.http.client: INFO